#pagina {
    margin: 0 auto;
}
#cabecalho, #esquerda, #centro, #direita, #rodape {
    background-color: antiquewhite;
    margin: 10px;
    }
    #cabecalho{
        height: 150px;
    }
    #esquerda{
        width: 20%;
        height: 500px;
        float: left;
    }
    #centro{
        width: 55%;
        height: 500px;
        float: left;
    }
    #direita{
        width: 20%;
        height: 500px;
        float: right;
    }
    #rodape {
